[project]
name = "{{ python_project }}"
version = "0.1.0"
readme = "README.md"
description = "{{ description }}"
authors = [{ name = "{{ author }}" }]
requires-python = ">=3.11"
dependencies = [
  "ocelescope-backend>=0.10.1",
]

[project.entry-points."ocelescope_backend.modules"]
{{ module_key }} = "{{ python_package }}.module:{{ class_name }}"

[build-system]
requires = ["uv_build>=0.9.26,<0.12.0"]
build-backend = "uv_build"

[tool.uv]
package = true
